@model Core.DomainModel.Treatment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Treatment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="AnimalID" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TreatmentType" class="control-label"></label>
                <select asp-for="TreatmentType" asp-items="@Html.GetEnumSelectList<TreatmentType>()" class="form-control"></select>
                <span asp-validation-for="TreatmentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumAge" class="control-label"></label>
                <input asp-for="MinimumAge" class="form-control" />
                <span asp-validation-for="MinimumAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerformedBy" class="control-label"></label>
                <input asp-for="PerformedBy" class="form-control" />
                <span asp-validation-for="PerformedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerformDate" class="control-label"></label>
                <input asp-for="PerformDate" class="form-control" />
                <span asp-validation-for="PerformDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index", new { animalId = (int)ViewBag.AnimalId }, null)
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
