@model TreatmentViewModel

@{
    ViewData["Title"] = "Add treatment to animal";
}

<h1>Add treatment to @Model.Animal.Name</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddTreatmentToAnimal">
            <p style="color: red; font-size: 16px;">@ViewBag.Message</p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Animal.ID" />
            <div class="form-group">
                <label class="control-label">Treatments:</label>
                @if (Model.Treatments.Count > 0)
                {
                    <select asp-for="Treatment.ID" class="form-control">
                        <option value=""></option>
                        @foreach (var treatment in Model.Treatments)
                        {
                            <option value="@treatment.ID">@treatment.Description</option>
                        }
                    </select>
                }
                else
                {
                    <p>No treatments.</p>
                }
            </div>
            <div class="form-group">
                <label asp-for="PerformedBy" class="control-label"></label>
                <input asp-for="PerformedBy" class="form-control" />
                <span asp-validation-for="PerformedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerformDate" class="control-label"></label>
                <input asp-for="PerformDate" class="form-control" />
                <span asp-validation-for="PerformDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}